header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: larger;
    background-color:rgb(76, 171, 96) ;
    position: sticky ;
    top:0%;
.logo{
    font-size: 3rem;
    font-weight: 400;
    font-family: "Jacquard 12 Charted", system-ui;
}   

nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center ;   
    width: 45vw;   
}
   
li{
    text-decoration: none;
    list-style: none;
}
li{
    text-decoration: none;
    list-style: none;
}
li:hover{
     border-bottom:3px solid rgb(5, 93, 5);
     cursor: pointer;
}
li:active{
    box-shadow: 5px 10px 15px rgb(246, 250, 246) ;
    cursor: pointer;
}

button{
    background: none;
    padding: 5px 10px;
    border: 2px solid rgb(253, 252, 252);
    margin: 10px;
}
    
    button:hover{
        box-shadow: 5px 10px 15px rgb(243, 244, 243) ;
        cursor: pointer;
    }
    button:active{
        box-shadow: 5px 10px 15px rgb(246, 250, 246) ;
        cursor: pointer;
    }
}

main{
    display: flex;
    flex-wrap: wrap;
   justify-content: space-evenly;
   border-radius: 25%;
   box-shadow: 5px 10px 15px rgb(246, 250, 246) ;
        div:not(.buttons,.left,.right){
            width: 20%;
            padding: 0.5%;
            border: 5px solid rgb(152, 212, 152);
            margin: 0.5%;
            img{
                width: 100%;
                height: auto;
            }
.buttons{
    display: flex;
    justify-content: space-between;
}
.left{
    display: flex;
}
     }
     button{
        background:none ;
        border: none;
     }

}
marquee{
    nav{
        display: flex;
        gap:25px;
    }
}